.addProduct form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addProduct form div {
  width: 400px;
}

.product {
  flex-basis: 200px;
  flex-shrink: 0;
}
.btns {
  top: 24px;
  right: 20px;
}

.delete-checkbox {
  cursor: pointer;
}
